*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

body{
    text-align: center;
    background-color: #a2cdf9;
}

#headerSection{
    padding: 18px;
    /* font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic; */
}

#headerSection, h1{
    color: #EB5B00;
}

hr{
    border-color: black;
}

/* #bodySection{
    align-items: center;
} */

h2{
    color: #EB5B00;
font-size: 25px;
padding: 10px 0;
}


input{
    padding: 12px;
    border-radius: 10px;
}

#dropbox{
    width: 17%;
    padding: 12px;
}

#loginbtn{
    color: #fff;
    background: #EB5B00;
    padding: 7px 10px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}

/* CSS OF REGISTER */

#address {
    width: 38%;
  }

  #imagepart {
    border: 2px solid black;
    border-radius: 10px;
    width: 38%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    
  }

  #role{
    border: 2px solid black;
    border-radius: 10px;
    width: 38%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #role, select{
    padding: 8px;
    border-radius: 10px;
  }

/* CSS FOR DASHBORAD */

/* #backbtn{
float: left;
}

#logoutbtn{
float: right;
} */